{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Home Content</title>
  <link rel="stylesheet" href="{% static 'css/admin_manage_home.css' %}">
</head>
<body>
    
    <header class="admin-header">
        <div class="logo">LoRa Admin Dashboard</div>
        <div class="welcome">Welcome, Admin</div>
   <div class="container">
    <a class="back-link" href="{% url 'admin_dashboard' %}">&larr; Back to Dashboard</a>
    <h2>Edit Home Page Content</h2>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Save Changes</button>
    </form>
  </div>
</body>
</html>
